.main-footer {

}

.main-footer--dark {
  background-color: $bg-color-base;
}

.main-footer__contacts {

}

.main-footer__links {
  background-color: $bg-color-base;
}

.main-footer__logo {

}

.main-footer__social {

}

.main-footer__copyright {

}
